flows (2).json
[{"id":"72433f97.f13e5","type":"tab","label":"IntegrationAI","disabled":false,"info":""},{"id":"31683901.807436","type":"ui_form","z":"72433f97.f13e5","name":"","label":"","group":"2d65e069.8d954","order":1,"width":0,"height":0,"options":[{"label":"Pregnancies","value":"pr","type":"number","required":true,"rows":null},{"label":"Glucose","value":"pl","type":"number","required":true,"rows":null},{"label":"BloodPressure","value":"pre","type":"number","required":true,"rows":null},{"label":"SkinThickness","value":"sk","type":"number","required":true,"rows":null},{"label":"Insulin","value":"te","type":"number","required":true,"rows":null},{"label":"BMI","value":"ma","type":"number","required":true,"rows":null},{"label":"DiabetesPedigreeFunction","value":"pe","type":"number","required":true,"rows":null},{"label":"Age","value":"ag","type":"number","required":true,"rows":null}],"formValue":{"pr":"","pl":"","pre":"","sk":"","te":"","ma":"","pe":"","ag":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":90,"y":260,"wires":[["811cc658.c26f78","26f5072d.dc4bc8"]]},{"id":"811cc658.c26f78","type":"debug","z":"72433f97.f13e5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":340,"wires":[]},{"id":"26f5072d.dc4bc8","type":"function","z":"72433f97.f13e5","name":"pre-token","func":"global.set(\"pr\",msg.payload.pr)\nglobal.set(\"pl\",msg.payload.pl)\nglobal.set(\"pre\",msg.payload.pre)\nglobal.set(\"sk\",msg.payload.sk)\nglobal.set(\"te\",msg.payload.te)\nglobal.set(\"ma\",msg.payload.ma)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"ag\",msg.payload.ag)\nvar apikey=\"z63_E1lLLDCe3d1QLIevMlbCshJ3AN0xWecFFmGuAxXf\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":180,"wires":[["b1dc362c.b96d08"]]},{"id":"b1dc362c.b96d08","type":"http request","z":"72433f97.f13e5","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":432.00000381469727,"y":244.00000286102295,"wires":[["f8a8d6df.0aafe8","9a684ba6.9eb758"]]},{"id":"f8a8d6df.0aafe8","type":"debug","z":"72433f97.f13e5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":300,"wires":[]},{"id":"9a684ba6.9eb758","type":"function","z":"72433f97.f13e5","name":"Pre Prediction","func":"var pr = global.get(\"pr\")\nvar pl = global.get(\"pl\")\nvar pre = global.get(\"pre\")\nvar sk = global.get(\"sk\")\nvar te = global.get(\"te\")\nvar ma = global.get(\"ma\")\nvar pe = global.get(\"pe\")\nvar ag = global.get(\"ag\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"preg\", \"plas\", \"pres\", \"Skin\", \"test\", \"mass\", \"pedi\", \"age\"]],\"values\": [[pr,pl,pre,sk,te,ma,pe,ag]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":624.0000076293945,"y":196.0000021457672,"wires":[["e24d4901.397d28"]]},{"id":"e24d4901.397d28","type":"http request","z":"72433f97.f13e5","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/fe71d0bf-c405-4c0b-9586-596e69842793/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":220,"wires":[["7c819e09.ccbf6","bd8e5089.937c3"]]},{"id":"7c819e09.ccbf6","type":"debug","z":"72433f97.f13e5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1002.9999914169312,"y":304.00000381469727,"wires":[]},{"id":"bc58f245.6c7b7","type":"inject","z":"72433f97.f13e5","name":"","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":100,"wires":[["26f5072d.dc4bc8"]]},{"id":"457e5b0c.092fa4","type":"debug","z":"72433f97.f13e5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":833.9999885559082,"y":87.0000057220459,"wires":[]},{"id":"bd8e5089.937c3","type":"function","z":"72433f97.f13e5","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":679.6000595092773,"y":128.00000190734863,"wires":[["457e5b0c.092fa4","92e35ad4.9376a8"]]},{"id":"92e35ad4.9376a8","type":"ui_text","z":"72433f97.f13e5","group":"2d65e069.8d954","order":2,"width":0,"height":0,"name":"","label":"Diabetes Prediction 1-YES, 0-N0","format":"{{msg.payload}}","layout":"col-center","x":877.6000366210938,"y":361.20001220703125,"wires":[]},{"id":"2d65e069.8d954","type":"ui_group","z":"","name":"Diabetes Mellitus Prediction","tab":"9c556fe9.640e5","order":1,"disp":true,"width":"6","collapse":false},{"id":"9c556fe9.640e5","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]